/* Style global */
body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, #f0f5f9, #c9d6df);
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    min-height: 100vh;
}

h1 {
    text-align: center;
    color: #52616b;
    margin-top: 20px;
    font-size: 2.5em;
}

/* Conteneur de contenu */
.content {
    width: 100%;
    max-width: 1385px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

/* Table */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #52616b;
    color: white;
}

td button {
    padding: 8px 16px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

td button:hover {
    background-color: #74ebd5;
}

td p {
    font-size: 1.1em;
    margin: 10px 0;
}

/* Boîte de code */
.code-box {
    display: none;
    background-color: #f4f4f4;
    padding: 15px;
    margin-top: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

code {
    font-family: 'Courier New', monospace;
    background-color: #52616b;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    display: block;
    overflow-x: auto;
    margin-top: 10px;
}

button:focus,
input:focus {
    outline: none;
}

/* Responsive */
@media (max-width: 768px) {
    h1 {
        font-size: 2em;
    }

    table {
        font-size: 0.9em;
    }

    td button {
        font-size: 1em;
    }
}

.retour {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 10px 15px;
    background: #007BFF;
    color: white;
    font-size: 1.1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    text-decoration: none;
    margin-top: 5px;
}

.retour:hover {
    background-color: #74ebd5;
}